*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box; /* height and width of the content is count inside */
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
}
.nav-logo{
    height: 56px;
    width: 114px;
    margin: 0 0 0 1px;
    padding: 4px 0 0;
    /* padding-top: 5px; */
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 47px;
    width: 98px;
    margin: 1px;
    padding: 1px 8px 0px 6px;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
.nav-address{
    height: 60px;
    width: 90.64px;
}
.line1{
    color: #CCCCCC;
    font: 12px arial;
    width: 52.64px;
}
.line2{
    color: #ffffff;
    font: 14px arial;
    padding: 0px 0px 1px;
    width: 52.64px;
}
.address-border{
    display: flex;
    flex-direction: row;
    border: 1px solid transparent;
    width: 68.64px;
    height: 48px;
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
    font: 14px;
    display: flex;
    align-items: center;
}
.address-border:hover{
    border: 1px solid white;
}
.deliver-logo{
    margin: 9px 1.48px 1px;
    height: 18px;
    width: 15px;
}
.nav-search{
    display: flex;
    align-items: center;
}
.search-select{
    width: 52px;
    height: 40px;
    color: #0f1111;
    background-color: #E6E6E6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font: 14px arial;
    padding: 0 0 0 5px;
}
.search-input-box{
    height: 40px;
    width: 332.36px;
    font: 14px arial;
    color: #0f1111;
    background-color: #ffffff;
    padding: 0 0;
    display: flex;
    border: 0px 2px 0px 2px;
}
.search-input{
    width: 332.36px;
    height: 21px;
    padding: 7px 10px 10px 0;
}